img{
    height:620px;
    width:100%;
    filter:grayscale(50%);
    filter:saturate(30%);
    position:relative;
}
video{
    position: absolute;
    top:20px;
    left:20px;
    height:500px;
    width:1200px;
}
